:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #e5e5e5;
  --text-color: #333333;
  --header-logo-color: #66645e;
  --header-logo-size: 24px;
  --header-category-size: 20px;
  --text-primary-color: #000000;
  --text-spacing-primary: 2px;
  --page-padding-sides: 20px;
  --border-primary: #e3e3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  padding-left: var(--page-padding-sides);
  padding-right: var(--page-padding-sides);
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sora-font {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.color-text-primary {
  color: var(--text-primary-color);
}

.text-spacing-primary {
  letter-spacing: var(--text-spacing-primary);
}

.cursor-pointer {
  cursor: pointer;
}

.border-color-primary {
  border-color: var(--border-primary);
}

.header {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  font-size: 24px;
  color: var(--header-logo-color);
}

.header-category {
  font-size: var(--header-category-size);
}
